@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

 
:hoot {
    --fonte1:  Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'passion one', cursive;
    --fonte3: 'Srirscha' , cursive;
    
}


*{
    margin: 0;
    padding: 0;
    
}

p {
    font-weight: bolder;
    font-style: italic;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family:var(--fonte3) ;
  
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
 
header > h1 {
    padding-top: 50px;
   font-variant: small-caps;
   font-family: var(--fonte2);
   font-size: 4em;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3em;
}

section > p {
    padding-bottom: 2em;
    
}

section.imagem > p {
   display: inline-block;
   padding: 5px;
    background-color: rgba(0, 0, 0, 0.519);
    text-shadow: 1px 1px 0px black;
    

}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
}

section#img01 {
    background-image: url(../des012/imagens/background001.jpg);
    background-position: left center;
    background-size: cover;

}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
}

footer {
  height: 50px;
    background-color:  black ;
    text-align: center;
    color: white;
    padding: 10px;
    color: yellow;
}